<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>
  {% if page.title %} {{ page.title }}
  {% else %} {{ site.title }}
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<link href="{{ "/assets/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ "/css/home.css" | relative_url }}" rel="stylesheet">
<!-- <link href="{{ "/css/gradient-background.css" | relative_url }}" rel="stylesheet"> -->
<link href="{{ "/css/coverr-video.css" | relative_url }}" rel="stylesheet">
<link href="{{ "/css/circular.css" | relative_url }}" rel="stylesheet">
