<div class="video-container">
    <div class="filter"></div>
    <!-- <div class="site-wrapper">

      <div class="site-wrapper-inner">

        {% include footer.html %}
      </div>
    </div> -->
    <div class="title-container">
        <div class="headline">
          {{ content }}
        </div>
    </div>
    <video autoplay loop playsinline class="fillWidth" muted>
      <source src="{{ site.url }}/assets/video/{{ site.video-title }}/{{ site.video-title }}.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="{{ site.url }}/assets/video/{{ site.video-title }}/{{ site.video-title }}.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="{{ site.url }}/assets/video/{{ site.video-title }}/{{ site.video-title }}.jpg" alt="">
    </div>
</div>
